html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

.Index{
    background-color: bisque;   
}

.Index h1{
  width: 20%;
  text-align: center;
  color: brown;
  margin-left: 41%;
  font-family: 'Times New Roman', Times, serif;
}

.Index form{
  width: 20%;
  text-align: center;
  margin-left: 40%;
  color: cadetblue;
  border-radius: 2%;
  border: 3px solid rgb(122, 88, 13);
  padding: 1%;
  margin-top: 4%;
}

.deslog{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  background-color: burlywood;
  padding: 0.5%;
  border-radius: 10px;
  border: 3px solid rgb(122, 88, 13);
  color: cadetblue;
  
}

.botonAlumno{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  background-color: burlywood;
  padding: 0.5%;
  border-radius: 10px;
  border: 3px solid rgb(122, 88, 13);
  color: cadetblue;
  
}

.contenedor{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
  align-items: flex-end;
  margin-top: 20%;
}

.Alum{
  background-color: bisque;
}

.Alum img{
  display: flex;
  border: 3px solid rgb(122, 88, 13);
  justify-content: center;
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.Alum h2{
  color: cadetblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor a{
  text-decoration: none;
  color: cadetblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.familiares{
  float: left;
  width: 30%;
  margin-left: 1%;
  text-align: center;
  border: 3px solid rgb(122, 88, 13);
  margin-bottom: 35%;
}

.inter{
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
  
}
